<div id="top">
  <header>
      <div class="logo">
          <h1>Waiters for Later</h1>
      </div>
      <nav>
          <ul>
              <li><a href="#" class="active">HOME</a></li>
              <li><a href="#mid">ABOUT US</a></li>
              <li><a href="#bot">WAITSTAFF</a></li>
              <li><a href="#">EVENTS</a></li>
          </ul>
      </nav>
  </header>