    <div class="site-wrapper">

      <div class="site-wrapper-inner">

        <div class="cover-container">

          <div class="masthead clearfix">
            <div class="inner">
              <h3 class="masthead-brand"><%= link_to 'Waiters for Later', root_path%></h3>
              <ul class="nav masthead-nav">
                <% if current_admin_user %>
                <li><%= link_to 'Inquiries', inquiries_path %></li>
                <% end %>
              </ul>
            </div>
          </div>