    <div class="site-wrapper">

      <div class="site-wrapper-inner">

        <div class="cover-container">

          <div class="masthead clearfix">
            <div class="inner">
              <h3 class="masthead-brand">Waiters for Later</h3>
              <ul class="nav masthead-nav">
                <li class="active"><%= link_to 'Home', root_path%></li>
                <li><%= link_to 'Waiters', waiters_path %></li>
                <li><%= link_to 'Events', events_path %></li>
              </ul>
            </div>
          </div>